html {
    color: #334;
}
body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    font: 20pt helvetica, arial, sans-serif;
    -webkit-text-size-adjust: auto;
    border: 4px solid #99a;
    height: 100%;
}
a,
a:visited {
    color: #556;
}
a:hover,
a:active {
    color: #99a;
}
input,
select {
    font: 20pt helvetica, arial, sans-serif;
    max-width: 90%;
    margin: 0px;
    border: 0px;
    background-color: #eee;
}
.edit_false > .attr_input {
    display: none;
}
.edit_true > .attr_value {
    display: none;
}
h1 {
    font: 28pt helvetica, arial, sans-serif;
}
h2 {
    font: 16pt helvetica, arial, sans-serif;
    color: #aaa;
}
div.header {
    text-align: center;
    padding: 5px;
    margin: 5px;
}
div.footer {
    clear: both;
    text-align: center;
}
label {
    width: 5em;
}
input.team_number {
    height: 1em;
    width: 3em;
    font-size: 28pt;
}
input.team_name {
    height: 1em;
    width: 10em;
    font-size: 16pt;
    text-align: center;
    color: #aaa;
    padding: 0px;
}