html {
	color: #334;
}
body {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
	font: 14pt helvetica, arial, sans-serif;
	border: 4px solid #99a;
	height: 100%;
}
input, select {
	font: 14pt helvetica, arial, sans-serif;
}
div.header {
	text-align: center;
	padding: 5px;
	margin: 5px;
}
div.actions {
        width:50%;
	float: left;
}
div.attributes {
	width: 50%;
	float: right;
}
div.footer {
	clear: both;
	text-align: center;
}
input.team_number {
	height: 21pt;
	width: 4em;
	font-size: 20pt;
}
input.team_name {
	height: 17pt;
	width: 10em;
	font-size: 16pt;
}
input.att_input {
	height: 17pt;
	width: 5em;
	font-size: 16pt;
}