html {
	color: #334;
}
body {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
	font: 20pt helvetica, arial, sans-serif;
	border: 4px solid #99a;
	height: 100%;
}
input, select {
	font: 20pt helvetica, arial, sans-serif;
	height: 21pt;
}
h1 {
	font: 28pt helvetica, arial, sans-serif;
}
h2 {
	font: 24pt helvetica, arial, sans-serif;
}
div.header {
	text-align: center;
	padding: 5px;
	margin: 5px;
}
div.footer {
	clear: both;
	text-align: center;
}
input.team_number {
	height: 29pt;
	width: 4em;
	font-size: 28pt;
}
input.team_name {
	height: 25pt;
	width: 10em;
	font-size: 24pt;
}